.wrapper {
  margin: 0;
  padding: 0;
  height: 12vh;
  width: 100%;
  background: teal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  .title {
    position: relative;
    top: 2.5vh;
    left: 2.5vw;
    text-decoration: none;
  }
  .list {
    display: flex;
    position: relative;
    top: 4vh;
    margin: 0;
    .listItem {
      list-style-type: none;
      padding: 0 1.5vw;
      margin: 0;
      .listLink {
        text-decoration: none;
      }
    }
  }
}
